<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidateAd</servlet-name>
        <servlet-class>ValidateAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Storep</servlet-name>
        <servlet-class>Storep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePa</servlet-name>
        <servlet-class>ValidatePa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreP</servlet-name>
        <servlet-class>StoreP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaPa</servlet-name>
        <servlet-class>VaPa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>AddEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventDetails</servlet-name>
        <servlet-class>AddEventDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClub</servlet-name>
        <servlet-class>CreateClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVenue</servlet-name>
        <servlet-class>CreateVenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClub</servlet-name>
        <servlet-class>ViewClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewC</servlet-name>
        <servlet-class>ViewC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClub1</servlet-name>
        <servlet-class>ViewClub1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent1</servlet-name>
        <servlet-class>ViewEvent1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVenue1</servlet-name>
        <servlet-class>ViewVenue1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventD</servlet-name>
        <servlet-class>ViewEventD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraH</servlet-name>
        <servlet-class>TraH</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateAd</servlet-name>
        <url-pattern>/ValidateAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Storep</servlet-name>
        <url-pattern>/Storep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePa</servlet-name>
        <url-pattern>/ValidatePa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreP</servlet-name>
        <url-pattern>/StoreP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaPa</servlet-name>
        <url-pattern>/VaPa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventDetails</servlet-name>
        <url-pattern>/AddEventDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClub</servlet-name>
        <url-pattern>/CreateClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVenue</servlet-name>
        <url-pattern>/CreateVenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClub</servlet-name>
        <url-pattern>/ViewClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewC</servlet-name>
        <url-pattern>/ViewC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClub1</servlet-name>
        <url-pattern>/ViewClub1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent1</servlet-name>
        <url-pattern>/ViewEvent1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVenue1</servlet-name>
        <url-pattern>/ViewVenue1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventD</servlet-name>
        <url-pattern>/ViewEventD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraH</servlet-name>
        <url-pattern>/TraH</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>